@import '../../../styles/common/colors';

.footer{
  padding: 20px 0px 20px 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column;
  background-color: #e9ebee;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  transition: .3s ease all;
  position: absolute;

  p {
    display: inline;
    margin:0;
    color: #90949c;
  }
  a {
    padding: 0 2px;
    color: #90949c;
  }
  .links {
    display: inline;
    cursor: pointer;
  }
  .copyrightMobile {
    display: none;
  }
  .copyrightDesktop {
    display: inline;
  }

  @media (max-width: 40em){
    padding: 20px 0px 20px 20px;
    p{
      width: 100%;
      display: block;
    }
    .links{
      width: 100%;
      display: block;
    }
    .copyrightDesktop {
      display: none;
    }
    .copyrightMobile {
      display: inline;
    }
  }
}
