<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="main">
      TEST PAGE only and <%- head.company -%>
    </div>
    <script>
      console.log('hello world from justin ');
    </script>
    <script src='static/js/test.js'></script>
  </body>
</html>
