$primary_color: #f7931d;
$tertiary_color: #fff;
$cancel_btn_color: #ddd;

$industry_gray: #444444;
$industry_orange: $primary_color;
$industry_red: #E84C3D;

$input_color: lighten($primary_color, 35);
